$luc: 'Lucida Sans',
'Lucida Sans Regular',
'Lucida Grande',
'Lucida Sans Unicode',
Geneva,
Verdana,
sans-serif;
$ari: Arial,
Helvetica,
sans-serif;
$bg1: rgba(0, 0, 255, 0.514);
$bg2_bd: rgba(0, 0, 255, 0.678);